.button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.disabled {
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
  pointer-events: none !important;
}
